
<button class = "controller" (click) = "onOver()" [@flip] = "active? 'active' : 'inactive' " *ngIf = "!ownerRelativePage">
  <i class="fas fa-power-off" *ngIf = "!active; else closeIcon"></i>
  <ng-template #closeIcon>
    <i class="fas fa-times"></i>
  </ng-template>
</button>

<button class = "controller" (click) = "logout()" [@flip] = "active? 'active' : 'inactive' " *ngIf = "ownerRelativePage">
  <i class="fas fa-power-off"></i>
</button>

<div class = "header" [@headerActive] = "active? 'active' : 'inactive' " (click) = "onOver()">
  <div class = "header-body" *ngIf = "active">
    <button id = "home" routerLink = ""><i class="fas fa-home"></i></button>
    <button id = "sign-out" (click) = "logout()"><i class="fas fa-sign-out-alt"></i></button>
    <button id = "cart" [routerLink] = "['/', { outlets: {primary: ['restaurant-menu', 1], appRight: ['shopping-cart'] } }]"><i class="fas fa-shopping-cart"></i></button>
  </div>
</div>