
<div class = "checkout-body">

  <div class = "cart-table">
    <table class = "table table-borderless">
      <thead>
        <tr>
          <th class = "w-25">PRODUCT</th>
          <th class = "w-25">PRICE</th>
          <th class = "w-25">QTY</th>
          <th class = "w-25">TOTAL</th>
        </tr> 
      </thead>

      <tbody>

        <tr *ngFor = "let item of cartItems">
          <td class = "align-middle">
            <img [src] = "'../../assets/images/' + item.image">
            <div class = "name small">{{item.name}}</div>
          </td>
          <td class = "align-middle small">{{item.price | currency}}</td>
          <td class = "align-middle small">{{item.number}}</td>
          <td class = "align-middle small">{{item.price * item.number | currency}}</td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
