<app-header></app-header>

<div class = "container-fluid app-background">
  <div class = "row" *ngIf = "layoutMode === 1; else secondMode">
    <div class = "col-lg-6 col-12 app-left">
      <router-outlet></router-outlet>
    </div>
    <div class = "col-lg-6 col-12 app-right">
      <router-outlet name = 'appRight'></router-outlet>
    </div>
  </div>


  <ng-template #secondMode>
    <div class = "row" *ngIf = "layoutMode === 2; else thirdMode">
      <div class = "col-lg-8 col-12 app-left">
        <router-outlet></router-outlet>
      </div>
      <div class = "col-lg-4 col-12 app-right">
        <router-outlet name = 'appRight'></router-outlet>
      </div>
    </div>  
  </ng-template>

  <ng-template #thirdMode>
    <div class = "row" *ngIf = "layoutMode === 3; else fourthMode">
      <div class = "col-lg-2 col-12 app-left">
        <router-outlet></router-outlet>
      </div>
      <div class = "col-lg-10 col-12 app-right">
        <router-outlet name = 'appRight'></router-outlet>
      </div>
    </div>  
  </ng-template>

  <ng-template #fourthMode>
    <div class = "row">
      <div class = "col-lg-12 col-12 app-left">
        <router-outlet></router-outlet>
      </div>
    </div>  
  </ng-template>

</div>






