
.restaurant-container{
  padding: 8% 5% 3% 5%;
}

.menu-categories{
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;

}

.menu-category{
  color: #de85bd;
  font-size: 14px;
  font-weight: 400;
  background: none;
  border: none;
  border-radius: 13px;
}



@media only screen and (max-width: 768px){
  .restuarant-head-right .restuarant-image{
    max-width: 100%;
  }
}
