
/*
.background{
  width: 100%;
  padding: 10% 5%;
  background: rgb(241,205,129);
  background: linear-gradient(31deg, rgba(241,205,129,1) 39%, rgba(215,151,222,1) 65%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
*/

.form{
  padding: 10% 13%;
}

.form-body{
  height: 100%;
}

.second-link{
  position: absolute;
  top: 2%;
  right: 4%;
}

.form-group{
  height: 70px;
}

@media only screen and (max-width: 768px){
  .background{
    padding: 5% 2%;
  }
}

@media only screen and (max-width: 576px){
  .background{
    padding: 5% 1%;
  }
}