<div class = "home" *ngIf = "!layoutExpand">
  <h2 class = "text-white">Food Delivery</h2>
  <small class = "text-muted">Your Favorite Food, Delivered with US.</small>

  <p class = "small mt-4 text-white">Enter your post code to find local restaurants</p>
  <form class="search-bar" [formGroup] = "searchBar" (ngSubmit)="onSubmit()">
    <div class="input-group">
      <div class="input-group-prepend">
        <button id="button-addon2" type="submit" class="btn btn-link text-white small"><i class="fa fa-search"></i></button>
      </div>
      <input type="search" placeholder="e.g. 8041" aria-describedby="button-addon2" class="form-control border-0 rounded rounded-pill text-white" formControlName = "queryInput">
    </div>
  </form>


  <div *ngIf = "!loggedUser; else loggedPage">
    <!--
    <div id = "users-group">
      <div class = "user-btns" style = "margin-top: 25%;">
        <button type = "button" class = "action-btn" data-toggle = "collapse" data-target = "#sign-in-btns">Sign In</button>
        <div id = "sign-in-btns" class = "collapse user-btns" data-parent = "#users-group">
          <div class = "btns-box">
            <button type = "button" (click) = "clickButton('1')" [@clickButton] = "buttonClicked == 1? 'clicked':'unclicked' " [routerLink] = "[{ outlets: {appRight: ['customer-login'] } }]">Customer</button>
            <button type = "button" (click) = "clickButton('2')" [@clickButton] = "buttonClicked == 2? 'clicked':'unclicked' " [routerLink] = "[{ outlets: {appRight: ['driver-login'] } }]">Driver</button>
            <button type = "button" (click) = "clickButton('3')" [@clickButton] = "buttonClicked == 3? 'clicked':'unclicked' " [routerLink] = "[{ outlets: {appRight: ['owner-login'] } }]">Owner</button>
          </div>
        </div>
      </div>

      <div class = "user-btns mt-3">
        <button type = "button" class = "action-btn" data-toggle = "collapse" data-target = "#sign-up-btns">Sign Up</button>
        <div id = "sign-up-btns" class = "collapse user-btns" data-parent = "#users-group">
          <div class = "btns-box">
            <button type = "button" (click) = "clickButton('4')" [@clickButton] = "buttonClicked == 4? 'clicked':'unclicked' " [routerLink] = "[{ outlets: {appRight: ['customer-register'] } }]">Customer</button>
            <button type = "button" (click) = "clickButton('5')" [@clickButton] = "buttonClicked == 5? 'clicked':'unclicked' " [routerLink] = "[{ outlets: {appRight: ['driver-register'] } }]">Driver</button>
            <button type = "button" (click) = "clickButton('6')" [@clickButton] = "buttonClicked == 6? 'clicked':'unclicked' " [routerLink] = "[{ outlets: {appRight: ['owner-register'] } }]">Owner</button>
          </div>
        </div>
      </div>
    </div>
    [routerLink] = "['/', { outlets: {primary: ['/'], appRight: ['customer-register'] } }]"
    -->
    <div class = "users-group" style = "margin-top: 60px;">
      <button type = "button" class = "action-btn" [routerLink] = "[{ outlets: {appRight: ['customer-register'] } }]">Click me</button>
      <p class = "side-text"> To get a food delivered</p>
    </div>

    <div class = "users-group">
      <button type = "button" class = "action-btn" [routerLink] = "[{ outlets: {appRight: ['driver-register'] } }]">Click me</button>  
      <p class = "side-text"> To become a driver</p>
    </div>

    <div style = "margin: 10% 0% 0% 0%;">
      <span style = "color: white; font-size: 18px;">Or </span>
      <a class = "owner-register" [routerLink] = "['/', { outlets: {primary: ['owner-login'], appRight: null} }]">Join Us</a> 
    </div>   
  </div>

  <ng-template #loggedPage>
    <div style = "margin-top: 150px;">
      <p class = "greeting">Welcome:</p>
      <p class = "name">{{loggedUser.firstName}} {{loggedUser.lastName}}</p>
    </div>
  </ng-template>
</div>

<div *ngIf = "layoutExpand">
  haha
</div>
