.home{
  padding: 17% 20% 0 20%;
}

.search-bar, .search-bar input{
  background-color: #3c3f53 !important;
  border-radius: 10px !important;
  height: 50px;
}

.search-bar *{
  font-size: 13px !important;
  font-weight: 300 !important;
}


.form-control:focus{
  box-shadow: none !important;
  border: none !important;
}

/*
.user-btns button{
  margin: 5px;
}
*/

.users-group{
  display: flex;
  flex-flow: row nowrap;
  align-items: baseline;
  justify-content: flex-start;
}

.action-btn{
  border: 2px solid white;
  background: none;
  color: white;
  padding: 4px 8px;
  width: 100px;
  height: 40px;
  font-size: 20px;
  font-weight: 500;
  border-radius: 10px;
  margin-top: 20px;
}

.side-text{
  color: #919191;
  font-weight: 300;
  margin-left: 20px;
  line-height: 40px;
}

.owner-register{
  
}

/*
.btns-box{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#sign-in-btns button, #sign-up-btns button{
  width: 100px;
  height: 50px;
  font-size: 16px;
  font-weight: 400;
  border-radius: 15px;
  background: none;
}
*/

.greeting{
  font-size: 20px;
  font-weight: 500;
  color: white;
}

.name{
  font-size: 25px;
  font-weight: 700;
  color: white; 
  text-indent: 20px;
}
